{% extends 'home/base.html' %}
{% load static %}

{% block body %}


        <div>
            <div class="container mt-2">
                <div class="mb-5 p-2 bg-white w-100 text-muted clearfix">
                    <img src="{% static 'home/asssets/logo.png' %}" alt="" class="about_logo img-fluid img-thumbnail mr-2 mb-2 float-left">
                    <h4>
                        We’re truely dedicated to make your travel experience as much simple and fun as possible!
                    </h4>
                    <p><small>
                        Lisadel Travel & Tours is a well-established travel Agency that’s specializes in Tour packages all over the world, Hotel Reservation, Airline Ticketing With experienced staff members in handling inbound and outbound holidays and reservations.
                    </small></p>
                    <p><small>
                        In Lisadel Travel & Tours, we serve our clients with the best assistance when it comes to the airline service and hospitality.
                    </small></p>
                    <p><small>
Our specialty is the ability to design unique all-inclusive packages to fit every type of tourist, from the budget to the luxury. We offer unbeatable prices for Individuals, families and groups. If you’re looking for a vacation that provides a huge sense of personal recreation, fun, excitement, relaxation, adventure, Lisadel Travel & Tours is the best agency to contact.
                    </small></p>
                </div>

                <!-- TEAM -->
                <h5 class="text-muted text-center">Lisadel Dedicated Team</h5>
                <div class="row mb-5 d-flex flex-wrap justify-content-center">

                    <div class="col-md-4">
                                <div class="card-box text-center">
                                    <div class="user-pic">
                                        <img src="{% static 'home/asssets/team/c4c148410b996fa929f26253bbe2a1d2.jpg' %}" class="img-fluid" alt="User Pic">
                                    </div>
                                    <h4>MRS ALICE SAGOE MANKOR</h4>
                                    <small>Chief Executive Officer
                                    </small>
                                    <hr>
                                    <div class="w-100 d-flex flex-wrap justify-content-center">
                                        <a href="#" class="btn btn-outline-primary m-1"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="btn btn-outline-danger m-1"><i class="fa fa-instagram"></i></a>
                                        <a href="#" class="btn btn-outline-primary m-1"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" class="btn btn-outline-success m-1"><i class="fa fa-whatsapp"></i></a>
                                    </div>
                                </div>
                    </div>

                    <div class="col-md-4">
                                <div class="card-box text-center">
                                    <div class="user-pic">
                                        <img src="{% static 'home/asssets/team/6b04e260cbb2ea665306eb804cf4f049.jpg' %}" class="img-fluid" alt="User Pic">
                                    </div>
                                    <h4>ANSAH ANDREWS APPEADU</h4>
                                    <small>TICKETING AND RESERVATION MANAGER</small>
                                    <hr>
                                    <div class="w-100 d-flex flex-wrap justify-content-center">
                                        <a href="#" class="btn btn-outline-primary m-1"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="btn btn-outline-danger m-1"><i class="fa fa-instagram"></i></a>
                                        <a href="#" class="btn btn-outline-primary m-1"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" class="btn btn-outline-success m-1"><i class="fa fa-whatsapp"></i></a>
                                    </div>
                                </div>
                    </div>

                </div>

                <!-- PARTNERS -->
                <h4>Our Partner Relations</h4>
                <div class="row mb-5">

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                </div>

                <!-- LOCATION -->
                <h5 class="text-muted">Locate Us</h5>
                <div class="w-100 bg-light mb-2" style="height: 75vh">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7216.494513923791!2d-0.14080206511232274!3d5.6978421000000035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf8324e8721511%3A0x1edf23527518afe8!2sLakeside%20Marina%20Park!5e1!3m2!1sen!2sgh!4v1651126595811!5m2!1sen!2sgh"  style="border:0; height: 100%; width: 100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>
        </div>



{% endblock %}