{% extends 'home/base.html' %}
{% load static %}

{% block body %}


        <div>
            <div class="container mt-2">
                <div class="mb-5 p-2 bg-white w-100 text-muted clearfix">
                    <img src="{% static 'home/asssets/logo.png' %}" alt="" class="about_logo img-fluid img-thumbnail mr-2 mb-2 float-left">
                    <h4>
                        We’re truely dedicated to make your travel experience as much simple and fun as possible!
                    </h4>
                    <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut cumque delectus, dolor doloremque ex laudantium quia reprehenderit voluptate voluptatem! Alias asperiores beatae dicta distinctio harum iure laborum molestias soluta.</small></p>
                    <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut cumque delectus, dolor doloremque ex laudantium quia reprehenderit voluptate voluptatem! Alias asperiores beatae dicta distinctio harum iure laborum molestias soluta.</small></p>
                </div>

                <!-- TEAM -->
                <h5 class="text-muted">Lisadel Dedicated Team</h5>
                <div class="row mb-5">

                    <div class="col-sm-3 p-2 m-0">
                        <div class="w-100 text-center bg-white p-5">
                            <div class="serv_img bg-info p-2 rounded-circle rounded mx-auto">
                                <img src="{% static 'home/asssets/icons/services/default.png' %}" alt="" class="img-fluid">
                            </div>
                            <p class="m-2">
                                <a href="#" class="p-0 m-0 font-weight-bold text-muted">Petty Service</a>
                            </p>
                            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus alias beatae,</small>
                        </div>
                    </div>

                    <div class="col-sm-3 p-2 m-0">
                        <div class="w-100 text-center bg-white p-5">
                            <div class="serv_img bg-info p-2 rounded-circle rounded mx-auto">
                                <img src="{% static 'home/asssets/icons/services/default.png' %}" alt="" class="img-fluid">
                            </div>
                            <p class="m-2">
                                <a href="#" class="p-0 m-0 font-weight-bold text-muted">Petty Service</a>
                            </p>
                            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus alias beatae,</small>
                        </div>
                    </div>

                    <div class="col-sm-3 p-2 m-0">
                        <div class="w-100 text-center bg-white p-5">
                            <div class="serv_img bg-info p-2 rounded-circle rounded mx-auto">
                                <img src="{% static 'home/asssets/icons/services/default.png' %}" alt="" class="img-fluid">
                            </div>
                            <p class="m-2">
                                <a href="#" class="p-0 m-0 font-weight-bold text-muted">Petty Service</a>
                            </p>
                            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus alias beatae,</small>
                        </div>
                    </div>

                    <div class="col-sm-3 p-2 m-0">
                        <div class="w-100 text-center bg-white p-5">
                            <div class="serv_img bg-info p-2 rounded-circle rounded mx-auto">
                                <img src="{% static 'home/asssets/icons/services/default.png' %}" alt="" class="img-fluid">
                            </div>
                            <p class="m-2">
                                <a href="#" class="p-0 m-0 font-weight-bold text-muted">Petty Service</a>
                            </p>
                            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus alias beatae,</small>
                        </div>
                    </div>


                </div>

                <!-- PARTNERS -->
                <h4>Our Partner Relations</h4>
                <div class="row mb-5">

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                </div>

            </div>
        </div>



{% endblock %}