{% extends 'home/base.html' %}
{% load static %}

{% block body %}
    <div class="container" style="height: 100vh">
        <div class="row h-100 d-flex flex-wrap align-content-center justify-content-center">
            <div class="col-sm-4">
                <div class="alert text-center w-100 alert-info">
                    <p class="text-center">
                        <i class="fa fa-3x fa-info"></i>
                    </p>
                  <strong>Success!</strong> Your booking has been received. A person in charge will contact you shortly
                </div>
            </div>
        </div>
    </div>
{% endblock %}