{% extends 'home/base.html' %}
{% load static %}
{% load bleach_tags %}

{% block body %}


        <div>
            <div class="container mt-2">
                <div class="row">
                    <div class="col-sm-9 bg-white p-0">


                        <div class="w-100 d-flex flex-wrap align-content-center">
                            <a href="#" class="m-2"><i data-toggle="tooltip" title="Share Via Whatsapp" class="fa fa-2x fa-whatsapp text-success"></i></a>
                        </div>
                        <hr>

                        <!-- IMAGES -->
                        <div class="w-100 p-2" style="height: 50vh">
                            <div id="demo" class="carousel slide h-100 rounded_c" data-ride="carousel">

                        <!-- Indicators -->
<!--                        <ul class="carousel-indicators">-->
<!--                            <li data-target="#demo" data-slide-to="0" class="active"></li>-->
<!--                            <li data-target="#demo" data-slide-to="1"></li>-->
<!--                            <li data-target="#demo" data-slide-to="2"></li>-->
<!--                            <li data-target="#demo" data-slide-to="3"></li>-->
<!--                            <li data-target="#demo" data-slide-to="4"></li>-->
<!--                        </ul>-->

                        <!-- The slideshow -->
                        <div class="carousel-inner h-100">

                            <!-- GALLERY -->
                            <div class="carousel-item h-100 back_img active b" style="background: url('{% static 'home/asssets/events/' %}{{ event.tour_uni }}/cover.jpg')">
                                <div class="w-100 h-100 d-flex  p-5 flex-wrap align-content-end justify-content-start">
                                    
                                </div>
                            </div>
                            {% for evg in event_gallery %}
                                <div class="carousel-item h-100 back_img b" style="background: url('{% static 'home/asssets/events/' %}{{ event.tour_uni }}/{{ evg.media_name }}')">
                                    <div class="w-100 h-100 d-flex p-5 flex-wrap align-content-end justify-content-start">

                                    </div>
                                </div>
                            {% endfor %}




                        </div>

                        <!-- Left and right controls -->
                                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>

                    </div>
                        </div>



                        <div class="bg-white p-3">
                            <nav class="navbar navbar-expand-sm text-muted navbar-dark">
                               <div class="w-50  h-100 d-flex flex-wrap align-content-center">
                                  <h4 class="font-weight-bolder">{{ event.title }}</h4>
                              </div>
                              <div class="w-50 ml-auto h-100 d-flex flex-wrap align-content-center justify-content-end text-info">
                                  {{ event.start_date }} to {{ event.end_date }}
                              </div>
                           </nav>
                            <!-- LOCATION DETAIL -->
                            <div class="w-100 bg-light mb-2" style="height: 50vh">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7216.494513923791!2d-0.14080206511232274!3d5.6978421000000035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf8324e8721511%3A0x1edf23527518afe8!2sLakeside%20Marina%20Park!5e1!3m2!1sen!2sgh!4v1651126595811!5m2!1sen!2sgh"  style="border:0; height: 100%; width: 100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>

                            <!-- DETAILS -->
                            <div class="text-muted">

                                <p class="text-muted font-weight-bolder">General Information About This Tour</p>

                                <!-- INTRO -->
                                <small>
                                    {{ event.overview|safe}}
                                </small>

                                {% for timeline in event_timeline  %}
                                    <p class="text-muted m-0 mt-2 font-weight-bolder">{{ timeline.title }}</p>
                                    <div class="w-100"><small class="text-primary">{{ timeline.line_time_line }}</small></div>
                                    <small>
                                        {{ timeline.details }}
                                    </small>
                                {% endfor %}
                            </div>

                            <!-- MINI DETAILS AND BOOK -->
                            <div class="w-100 bg-light p-3 row no-gutters">
                                <!-- TABLE -->
                                <div class="col-sm-8 bg-white">
                                    <table class="table table-sm">
                                        <tb>
                                            <tr>
                                                <td class="text-primary"><small>LOCATION : </small></td>
                                                <td><small class="text-muted">{{event.country}},{{event.city}}</small></td>
                                            </tr>
                                            <!--DURATION-->
                                            <tr>
                                                <td class="text-primary"><small>DURATION : </small></td>
                                                <td><small class="text-muted">{{event.days}}</small></td>
                                            </tr>
                                            <!-- SITS -->
                                            <tr>
                                                <td class="text-primary"><small>AVAILABLE SEATS : </small></td>
                                                <td><small class="text-muted">{{event.group_size}}</small></td>
                                            </tr>
                                            <!-- PRICE -->
                                            <tr>
                                                <td class="text-primary"><small>PRICE : </small></td>
                                                <td><small class="text-muted">
                                                    {% for pack in event_packs %}
                                                        <span class="text-info">{{pack.description}}</span> - <span class="text-success">{{pack.cost}}</span> ,
                                                    {% endfor %}
                                                </small></td>
                                            </tr>
                                        </tb>
                                    </table>
                                </div>

                                <!-- BOOK -->
                                <div class="col-sm-4 pl-2">
                                    <div class="border-0 text-muted card p-2 h-100 rounded-0">
                                        <button onclick="location.href='#book_tour'" class="btn btn-success w-100 h-100">BOOK</button>
                                    </div>
                                </div>
                            </div>

                        </div>








                    </div>

                    <!-- OTHER EVENTS -->
                    <div class="col-sm-3">

                        <!-- BOOKING -->
                        <form method="post" action="{% url 'book_event' %}" class="w-100 card p-2 alert-info custom_shadow border-0 mb-5 rounded-0 p-2">
                            <p id="book_tour" class="p-0 text-muted text-center">
                                Quick Connect
                            </p>
                            <input type="hidden" name="event" value="{{ event.tour_uni }}">
                            <input type="hidden" name="event_name" value="{{ event.title }}">
                            {% csrf_token %}
                            <div class="w-100 d-flex flex-wrap justify-content-center align-content-center">
                                <a href="#" class="m-2"><i class="fa fa-whatsapp text-success"></i></a>
                            </div>
                            <hr>
                            <h4 class="text-center font-weight-bolder mb-4">
                                Book a sit for this tourism event
                            </h4>
                            <p class="p-0 text-muted text-center">
                                Fill out this form
                            </p>
                            <hr>

                            <!-- PACKAGES -->
                            <small class="text-dark">
                                Select a package
                            </small>
                            <div class="p-1">

                                {% for pack in event_packs %}
                                    <div class="form-check bg-light m-1 mb-2">
                                      <label class="form-check-label p-1">
                                        <input type="radio" value="package 1" class="form-check-input" name="package"> {{ pack.description }} - ${{ pack.cost }}
                                      </label>
                                    </div>
                                {% endfor %}


                            </div>

                            <!-- NUMBER -->
                            <small class="text-dark">
                                Number Of Sits
                            </small>
                            <div class="p-1 input-group">

                                <input type="number" name="sits" min="1" value="1" required class="form-control rounded-0">

                            </div>

                            <!-- CONACT INTO -->
                            <small class="text-dark">
                                Contact Info
                            </small>
                            <div class="p-1">

                                <input type="text" placeholder="Your Name" name="full_name" required class="form-control mb-2 rounded-0">
                                <input type="email" placeholder="Email" name="email_address" required class="form-control mb-2 rounded-0">
                                <input type="tel" placeholder="Contact Number" name="mobile" required class="form-control mb-2 rounded-0">

                            </div>

                            <div class="w-100 p-1">
                                <button class="btn btn-success w-100 rounded-0">BOOK</button>
                            </div>



                        </form>

                        <!-- OTHER EVENTS -->
                        <div class="w-100 card p-2 custom_shadow border-0 mb-5 rounded-0 p-2">
                            <p class="p-0 text-muted font-weight-bolder">
                                Last Minute Tours
                            </p>

                            <div class="w-100 d-flex p-1 flex-wrap">
                                <div class="w-25">
                                    <div class="last_min_tours bg-dark">
                                        <img src="{% static 'home/asssets/events/test/img.png' %}" alt="" height="100" class="">
                                    </div>
                                </div>

                                <div class="w-75 d-flex flex-wrap">
                                    <a href="" class="text-muted">Event Name</a>
                                    <small class="text-muted">
                                        <kbd class="alert-success">$250.00</kbd> PER PERSON
                                    </small>
                                </div>
                            </div>
                            <hr>
                            <div class="w-100 d-flex p-1 flex-wrap">
                                <div class="w-25">
                                    <div class="last_min_tours bg-dark">
                                        <img src="{% static 'home/asssets/events/test/img.png' %}" alt="" height="100" class="">
                                    </div>
                                </div>

                                <div class="w-75 d-flex flex-wrap">
                                    <a href="" class="text-muted">Event Name</a>
                                    <small class="text-muted">
                                        <kbd class="alert-success">$250.00</kbd> PER PERSON
                                    </small>
                                </div>
                            </div>
                            <hr>
                            <div class="w-100 d-flex border p-1 flex-wrap">
                                <div class="w-25">
                                    <div class="last_min_tours bg-dark">
                                        <img src="{% static 'home/asssets/events/test/img.png' %}" alt="" height="100" class="">
                                    </div>
                                </div>

                                <div class="w-75 d-flex flex-wrap">
                                    <a href="" class="text-muted">Event Name</a>
                                    <small class="text-muted">
                                        <kbd class="alert-success">$250.00</kbd> PER PERSON
                                    </small>
                                </div>
                            </div>

                        </div>

                        <!-- HELP -->
                        <div class="w-100 card p-2 custom_shadow border-0 mb-5 rounded-0 p-2">
                            <p class="p-0 text-muted font-weight-bolder">
                                Need Our Help?
                            </p>

                            <small class="text-muted">
                                We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.
                            </small> <br>
                            <a href="#" class="text-muted"> <small><i class="fa fa-phone"></i> 111-222-333</small></a>
                            <a href="#" class="text-muted"> <small><i class="fa fa-whatsapp"></i> 111-222-333</small></a>
                            <a href="#" class="text-muted"> <small><i class="fa fa-envelope"></i> email@domain.com</small></a>
                            <a href="#" class="text-muted"> <small><i class="fa fa-map"></i> Ghana Link</small></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>



{% endblock %}