{% extends 'home/base.html' %}
{% load static %}

{% block body %}


        <div>
            <div class="container mt-2">
                <div class="row">
                    <div class="col-sm-9 bg-white p-0">
                        <!-- IMAGES -->
                        <div class="w-100 p-2" style="height: 50vh">
                            <div id="demo" class="carousel slide h-100 rounded_c" data-ride="carousel">



                        <!-- The slideshow -->
                        <div class="carousel-inner h-100">

                            <!-- GALLERY -->
                            <div class="carousel-item h-100 back_img active b" style="background: url('{% static 'home/asssets/services/' %}{{service.img}}')">
                                <div class="w-100 h-100 d-flex bg_trans_80  p-5 flex-wrap align-content-center justify-content-center">
                                    <h4 class="font-weight-bolder">{{ service.title }}</h4>
                                </div>
                            </div>
                            {% for serv in all_services %}
                                <div class="carousel-item h-100 back_img b" style="background: url('{% static 'home/asssets/services/' %}{{serv.img}}')">
                                    <div class="w-100 h-100 d-flex bg_trans_80  p-5 flex-wrap align-content-center justify-content-center">
                                        <div class="w-75">
                                            <strong class="mb-2 text-warning">{{serv.title}}</strong>
                                            <p class="ellipse_2_lines">
                                                {{serv.description}}
                                            </p>
                                            <a href="" class="mb-2 text-info">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}






                        </div>

                        <!-- Left and right controls -->
                                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>

                    </div>
                        </div>



                        <div class="bg-white p-3">


                            <!-- DETAILS -->
                            <div class="text-muted mb-5">
                                <h4 class="text-muted font-weight-bolder">{{ service.title }}</h4>

                                <!-- INTRO -->
                                <small class="text-muted">
                                    {{ service.description }}
                                </small>

                            </div>

                            <!-- OTHER SERVICES -->
                            <hr>
                            <p class="text-muted font-weight-bolder">Other Services</p>

                            <div class="row mb-5">

                                {% for serv in all_services %}
                                    <div class="col-sm-4 p-2">
                                        <div class="w-100 custom_shadow bg-white">

                                            <!-- IMAGE -->
                                            <img
                                                    src="{% static 'home/asssets/services/' %}{{serv.img}}"
                                                    alt=""
                                                    class="img-fluid"
                                            >
                                            <div class="p-2 d-flex flex-wrap align-content-center">
                                                <div class="w-75">
                                                    <p class="m-0">{{ serv.title }}</p>
                                                </div>
                                                <div class="w-25 text-right">
                                                    <p class="m-0"><a href="{% url 'service' serv.url_parse %}"><i class="fa fa-arrow-right text-success"></i></a></p>
                                                </div>
                                            </div>

                                            </div>
                                    </div>
                                {% endfor %}


                            </div>

                        </div>








                    </div>

                    <!-- OTHER EVENTS -->
                    <div class="col-sm-3">

                        <!-- BOOKING -->
                        <form method="post" action="{% url 'service_consultation' %}"  class="w-100 card p-2 alert-info custom_shadow border-0 mb-5 rounded-0 p-2">
                            <h4 class="text-center font-weight-bolder mb-4">
                                Contact Us
                            </h4>
                            <input type="hidden" name="service" value="{{service.title}}">
                            {% csrf_token %}
                            <p class="p-0 text-muted text-center">
                                Fill out this form
                            </p>
                            <hr>


                            <!-- CONACT INTO -->
                            <small class="text-dark">
                                Contact Info
                            </small>
                            <div class="p-1">

                                <input type="text" autocomplete="off" name="full_name" placeholder="Your Name" required class="form-control mb-2 rounded-0">
                                <input type="email"autocomplete="off" name="email" placeholder="Email" required class="form-control mb-2 rounded-0">
                                <input type="tel" autocomplete="off" name="phone" placeholder="Contact Number" required class="form-control mb-2 rounded-0">

                            </div>

                            <small class="text-dark">
                                Message
                            </small>
                            <div class="p-1">

                                <textarea autocomplete="off" name="message" placeholder="Message" class="form-control rounded-0" rows="5"></textarea>

                            </div>

                            <div class="w-100 p-1">
                                <button  class="btn btn-success w-100 rounded-0">SUBMIT</button>
                            </div>



                        </form>

                        <!-- OTHER EVENTS -->
                        <div class="w-100 card p-2 custom_shadow border-0 mb-5 rounded-0 p-2">
                            <p class="p-0 text-muted font-weight-bolder">
                                Last Minute Tours
                            </p>

                            <div class="w-100 d-flex p-1 flex-wrap">
                                <div class="w-25">
                                    <div class="last_min_tours bg-dark">
                                        <img src="{% static 'home/asssets/events/test/img.png' %}" alt="" height="100" class="">
                                    </div>
                                </div>

                                <div class="w-75 d-flex flex-wrap">
                                    <a href="" class="text-muted">Event Name</a>
                                    <small class="text-muted">
                                        <kbd class="alert-success">$250.00</kbd> PER PERSON
                                    </small>
                                </div>
                            </div>
                            <hr>
                            <div class="w-100 d-flex p-1 flex-wrap">
                                <div class="w-25">
                                    <div class="last_min_tours bg-dark">
                                        <img src="{% static 'home/asssets/events/test/img.png' %}" alt="" height="100" class="">
                                    </div>
                                </div>

                                <div class="w-75 d-flex flex-wrap">
                                    <a href="" class="text-muted">Event Name</a>
                                    <small class="text-muted">
                                        <kbd class="alert-success">$250.00</kbd> PER PERSON
                                    </small>
                                </div>
                            </div>
                            <hr>
                            <div class="w-100 d-flex border p-1 flex-wrap">
                                <div class="w-25">
                                    <div class="last_min_tours bg-dark">
                                        <img src="{% static 'home/asssets/events/test/img.png' %}" alt="" height="100" class="">
                                    </div>
                                </div>

                                <div class="w-75 d-flex flex-wrap">
                                    <a href="" class="text-muted">Event Name</a>
                                    <small class="text-muted">
                                        <kbd class="alert-success">$250.00</kbd> PER PERSON
                                    </small>
                                </div>
                            </div>

                        </div>

                        <!-- HELP -->
                        <div class="w-100 card p-2 custom_shadow border-0 mb-5 rounded-0 p-2">
                            <p class="p-0 text-muted font-weight-bolder">
                                Need Our Help?
                            </p>

                            <small class="text-muted">
                                We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.
                            </small> <br>
                            <a href="#" class="text-muted"> <small><i class="fa fa-phone"></i> 111-222-333</small></a>
                            <a href="#" class="text-muted"> <small><i class="fa fa-whatsapp"></i> 111-222-333</small></a>
                            <a href="#" class="text-muted"> <small><i class="fa fa-envelope"></i> email@domain.com</small></a>
                            <a href="#" class="text-muted"> <small><i class="fa fa-map"></i> Ghana Link</small></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>



{% endblock %}