{% extends 'home/base.html' %}
{% load static %}

{% block body %}


        <div>
            <div class="container mt-2">
                <div class="row mb-5">

                    {% for service in all_services %}
                        <div class="col-sm-4 p-2">
                            <div class="w-100 custom_shadow bg-white">

                                <!-- IMAGE -->
                                <img
                                        src="{% static 'home/asssets/services/' %}{{service.img}}"
                                        alt=""
                                        class="img-fluid"
                                >
                                <div class="p-3 d-flex flex-wrap align-content-center">
                                    <div class="w-75">
                                        <p class="m-0">{{ service.title }}</p>
                                    </div>
                                    <div class="w-25 text-right">
                                        <p class="m-0"><a href="{% url 'service' service.url_parse %}"><i class="fa fa-arrow-right text-success"></i></a></p>
                                    </div>
                                </div>

                                </div>
                        </div>
                    {% endfor %}

                </div>

                <!-- WHY CHOSE US -->
                <div class="row mb-5">
                    <!-- WHY CHOSE US -->
                    <div class="col-sm-8">
                        <h4>Why Choose Us?</h4>

                        <div class="w-100 bg-white p-2">
                            <!-- Nav pills -->
                            <ul class="nav nav-pills">
                              <li class="nav-item">
                                <a class="nav-link active rounded-0" data-toggle="pill" href="#home">Reason XYZ</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link rounded-0" data-toggle="pill" href="#menu1">Reason JBL</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link rounded-0" data-toggle="pill" href="#menu2">Reason FRX</a>
                              </li>
                            </ul>
                            <hr>

                            <!-- Tab panes -->
                            <div class="tab-content">
                              <div class="tab-pane container active" id="home">
                                  <p class="text-muted font-weight-bold">
                                      Some title for reason
                                  </p>

                                  <small class="text-muted">
                                      Proin eget libero vel nunc cursus mollis ac eget sapien. Aenean porttitor euismod leo sed ultrices. Ut porta iaculis lorem ut placerat. Morbi non vulputate turpis. Aenean a tempor nulla. Maecenas nec pharetra felis, eget varius orci. Mauris vehicula, elit nec tincidunt mattis, nisi velit dignissim libero vel commodo eros lectus vel leo. Donec condimentum suscipit laoreet. Proin scelerisque mattis tristique.odio vel aliquam volutpat. in euismod sem lectus. ligula vehicula enenatis semper.
                                  </small>

                              </div>
                              <div class="tab-pane container fade" id="menu1">
                                  <p class="text-muted font-weight-bold">
                                      Some title for reason
                                  </p>

                                  <small class="text-muted">
                                      Proin eget libero vel nunc cursus mollis ac eget sapien. Aenean porttitor euismod leo sed ultrices. Ut porta iaculis lorem ut placerat. Morbi non vulputate turpis. Aenean a tempor nulla. Maecenas nec pharetra felis, eget varius orci. Mauris vehicula, elit nec tincidunt mattis, nisi velit dignissim libero vel commodo eros lectus vel leo. Donec condimentum suscipit laoreet. Proin scelerisque mattis tristique.odio vel aliquam volutpat. in euismod sem lectus. ligula vehicula enenatis semper.
                                  </small>
                              </div>
                              <div class="tab-pane container fade" id="menu2">
                                  <p class="text-muted font-weight-bold">
                                      Some title for reason
                                  </p>

                                  <small class="text-muted">
                                      Proin eget libero vel nunc cursus mollis ac eget sapien. Aenean porttitor euismod leo sed ultrices. Ut porta iaculis lorem ut placerat. Morbi non vulputate turpis. Aenean a tempor nulla. Maecenas nec pharetra felis, eget varius orci. Mauris vehicula, elit nec tincidunt mattis, nisi velit dignissim libero vel commodo eros lectus vel leo. Donec condimentum suscipit laoreet. Proin scelerisque mattis tristique.odio vel aliquam volutpat. in euismod sem lectus. ligula vehicula enenatis semper.
                                  </small>
                              </div>
                            </div>
                        </div>


                    </div>

                    <!-- CUSTOMER FEED BAC -->
                    <div class="col-sm-4">
                        <h4>Sister Brands</h4>
                        <div class="w-100 bg-white p-2">

                            <div class="w-100 d-flex p-2 border-bottom flex-wrap">
                                <div class="w-25">
                                    <div class="last_min_tours bg-dark">
                                        <img src="{% static 'home/asssets/events/test/img.png' %}" alt="" height="100" class="">
                                    </div>
                                </div>

                                <div class="w-75 d-flex flex-wrap">
                                    <div class="w-100"><a href="" class="text-muted font-weight-bold">Brand Bame</a></div>
                                    <p class="text-muted m-0 font-italic">
                                        description
                                    </p>
                                </div>
                            </div>
                            <div class="w-100 d-flex p-2 border-bottom flex-wrap">
                                <div class="w-25">
                                    <div class="last_min_tours bg-dark">
                                        <img src="{% static 'home/asssets/events/test/img.png' %}" alt="" height="100" class="">
                                    </div>
                                </div>

                                <div class="w-75 d-flex flex-wrap">
                                    <div class="w-100"><a href="" class="text-muted font-weight-bold">Brand Bame</a></div>
                                    <p class="text-muted m-0 font-italic">
                                        description
                                    </p>
                                </div>
                            </div>
                            <div class="w-100 d-flex p-2 border-bottom flex-wrap">
                                <div class="w-25">
                                    <div class="last_min_tours bg-dark">
                                        <img src="{% static 'home/asssets/events/test/img.png' %}" alt="" height="100" class="">
                                    </div>
                                </div>

                                <div class="w-75 d-flex flex-wrap">
                                    <div class="w-100"><a href="" class="text-muted font-weight-bold">Brand Bame</a></div>
                                    <p class="text-muted m-0 font-italic">
                                        description
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <!-- PARTNERS -->
                <h4>Our Partner Relations</h4>
                <div class="row mb-5">

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                    <div class="col-sm-2 p-2">
                        <div class="w-100 text-center p-2 bg-white">
                            <div class="p_logo mx-auto">
                                <img src="{% static 'home/asssets/icons/clock.png' %}" alt="" class="img-fluid">
                            </div>
                            <small class="text-muted">Name Description</small>
                        </div>
                    </div>

                </div>

            </div>
        </div>



{% endblock %}